# .gitignore file for your config dir.
# An * ensures that everything will be ignored.
*

# Whitelist Files
!*.yaml
!.gitignore
!*.md

# Whitelist Folders
!themes
!integrations
!entities/
!entities/*
!customizations

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
secrets.yaml
