# .gitignore file for your config dir.
# An * ensures that everything will be ignored.
*

# Whitelist Files
!*.yaml
!*.yml
!.gitignore
!*.md
!.yamllint

# Whitelist Folders
!themes
!integrations
!entities
!entities/*
!entities/sensors/*
!customizations
!automations
!automations/*
!.github
!.github/*
!.stubs

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
secrets.yaml
google_calendars.yaml